@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family:'Be Vietnam Pro', sans-serif;
}
html { 
    width: 100%;
    height: 100%;
}

body { 
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:rgb(245, 245, 245);
}

#content { 
    width: 100%;
    height: 100%;
    display: flex;
   
}

#bar { 
    min-height: 100%;
    height: fit-content;
    min-width: 15em;
    max-width: 20%;
    background-color:khaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    justify-content: space-between;
    padding-bottom:2%;
    width: 15%;
    position: fixed;
  
}
#backBar { 
    min-height: 100%;
    height: fit-content;
    min-width: 15em;
    max-width: 20%;
    background-color:khaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    justify-content: space-between;
    padding-bottom:2%;
    width: 15%;
}
#addProject { 
    border: 3px solid black;
    border-radius: 100%;
    width: 10em;
    height: 10em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 187, 0);
    cursor: pointer;
}
#addProject h1 { 
    font-size: 500%;
}

#projects {
    min-height: 100%;
    height: fit-content;
    width: 80%;
    background-color:rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.project { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: fit-content;
    border: black solid 1px;
    margin-top: 2%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-bottom: 2%;
}

#projectHead { 
    width: 100%;
    height: 3em;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 2%;
}

#projectHead h1 { 
    width: 75%;
    color: white;
    margin-left : -5%;
}

#projectHead h2 { 
    width: 5%;
    color: white;
    font-size: 300%;
    margin-right : -10%;
    cursor: pointer;
}

#projectBody{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toDo { 
    height: fit-content;
    width: 90%;
    border: 2px solid khaki;
    margin-top: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    padding-left: 2%;
}

#toDoHead { 
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around; 
}

#taskList { 
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#taskList h1 { 
  font-size: 150%;
}

#taskList #priorityBox { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

#task {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.title { 
    width: 85%;
}

#priorityBox { 
    margin: 0 2%;
    width: 5%;
    cursor: pointer;
}

.priority{
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    background-color:orange;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    margin: 2%;
}

.date { 
    width: 5%;
}

.settings { 
    display: flex;
    width: 5%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:
}

.dot { 
    background-color: black;
    border: 1.5px solid black;
    width: 1px;
    height: 1px;
    margin: 2px;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
 }

 #logo h1 { 
     margin: 0;
     font-weight: bolder;
     font-size: 400%;
     font-family: 'Be Vietnam Pro', sans-serif;
 }

 #addTask{
     margin: 1%;
     cursor: pointer;
 }

 #openTasks{
     margin-left: 1%;
     display: none;
 }

 .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #tickBox { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 1em;
    min-height: 1em;
    width: 1.3em;
    height: 1.3em;
    border: black 1px solid;
    border-radius: 100%;
    margin: 1%;
    cursor: pointer;
}

#tick-mark { 
   width: 100%;
   height: 100%;
   border-radius: 100%;
}


#changePriorityBox { 
    margin: 0 0.5%;
    width: 3%;
    cursor: pointer;
}

.changePriority { 
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    background-color:rgb(21, 255, 0);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: 2%;
}

#confirmBox{ 
    width: 2%;
    cursor: pointer;
    margin-left: 1%;
}

.confirm{
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    background-color:rgb(21, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: 2%;
}

#cancelBox{ 
    margin: 0 0.5%;
    width: 3%;
    cursor: pointer;
}

.cancel{
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    background-color:rgb(21, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: 2%;
}
